In [75]:
import numpy as np
import pandas as pd

In [76]:
FNAME = '../../datos/imdb_tokenized.csv'

In [77]:
from collections import defaultdict
def parse_dataset(fname):
    data = defaultdict(list)
    with open(fname, 'r') as f:
        for line in f:
            entry_id, dataset, response, tokens = line.split(',', 3)
            data['id'].append(entry_id)
            data['dataset'].append(dataset)
            data['response'].append(response)
            data['tokens'].append(tokens)
    return pd.DataFrame.from_dict(data)

def dataset_to_csv(dataset, fname):
    with open(fname, 'w') as f:
        for row in dataset.iterrows():
            line = ','.join([row[1]['id'], row[1]['dataset'], row[1]['response'], row[1]['tokens']])
            f.write(line)

In [78]:
df = parse_dataset(FNAME)
df.head()

  id dataset response                                             tokens
0  0    test      neg  277,174,578,7118,48,3325,49,3,17,16,225,1113,7...
1  1    test      neg  11,6,36,454,4,137,1,2146,4,221,109,26,1,167,38...
2  2    test      neg  93,4,33,10,722,147,5212,15645,37,35019,490,47,...
3  3    test      neg  25,60,1,6161,80,872,691,286,413,2,252,2423,232...
4  4    test      neg  9603,1271,104,6,25,3,3706,656,16,97,67,26,635,...

In [81]:
train = df[df['dataset'] == 'train']
test =  df[df['dataset'] == 'test']
train.head()

,id,dataset,response,tokens
25000,25000,train,neg,"71,4,3,127,37,48,7464,1352,16,3,5214,511,49,15..."
25001,25001,train,neg,"3785,23670,511,14,3,3347,169,8894,12062,1481,6..."
25002,25002,train,neg,"11,19,3187,143,10,80,23,265,59,3811,21,32,93,3..."
25003,25003,train,neg,"726,286,10,122,11,6,425,5,30,36,24,529,22,19,1..."
25004,25004,train,neg,"53,10,13,121,59,737,522,75,329,5,1,738,5,69,91..."

In [82]:
# Tomamos una muestras de los datasets y generamos un nuevo dataset
n_samples = 500
train_sample = train.sample(n_samples)
test_sample = test.sample(n_samples)
train_test_sample = pd.concat([train_sample, test_sample])
train_test_sample.head()

,id,dataset,response,tokens
48588,48588,train,pos,"110,4,1,304,85,57,131,58,50,5,59,590,892,412,1..."
27995,27995,train,neg,"1,17,6,36,60440,776,4,3,354,647,12,322,971,5,1..."
27593,27593,train,neg,"1,820,6,632,1,106,1349,1,403,3371,2,1,274,1829..."
42978,42978,train,pos,"1358,11875,1769,63383,6,3,17,12,5365,1,271,267..."
39357,39357,train,pos,"311,6213,709,8,48,33,1,52,4451,5,378,31,666,13..."

In [88]:
# Guardamos la muestra en un archivo
OUT_NAME = '../data/train_test_sample.csv'
dataset_to_csv(train_test_sample, OUT_NAME)

In [87]:
ls

Datasets.ipynb               Metodo de Potencias.ipynb
Hyperparameter Tuning.ipynb  train_test_sample.csv